-if notice.present?
  .row
    .col-md-12
      %p#notice
        = notice
.row#breadcrumb
  .col-md-12
    %ol.breadcrumb{ 'itemscope' => 'itemscope', 'itemtype' => 'http://schema.org/Breadcrumb' }
      %li
        =link_to 'Home', '/', 'itemprop' => 'url'
      %li.active{ 'itemprop' => 'title' }
        =@state.name
.row
  .col-md-8.col-sm-6
    %h1
      = @state.name
    %ul
      - if (@state.capital.present?)
        %li
          %strong Capital:
          = link_to(@state.capital.name, @state.capital)
      %li
        %strong Abbreviation:
        = @state.abbreviation
      = render partial: '/shared/population', locals: {obj: @state}
      = render partial: '/shared/area', locals: {obj: @state}
      %li
        %strong Counties:
        = link_to("#{number_with_delimiter(@state.counties.count)} Counties", state_counties_path(@state))
      %li
        %strong Cities:
        = link_to("#{number_with_delimiter(@state.cities.count)} Cities", state_cities_path(@state))
    = render partial: '/shared/web_links', locals: {obj: @state}
  .col-md-4.col-sm-6.hidden-xs
    #map_div{ 'data-state' => @state.abbreviation, 'data-center-lat' => @state.latitude, 'data-center-long' => @state.longitude, 'data-center-zoom' => @state.zoom }

.row
  .col-md-12
    %h2 Description:
    = @state.active_description.description rescue '' 
