-if notice.present?
  .row
    .col-md-12
      %p#notice
        = notice
.row#breadcrumb
  .col-md-12
    %ol.breadcrumb
      %li
        =link_to 'Home', '/'
      %li
        =link_to @county.state.decorate.display_name, @county.state
      %li.active
        =@county.display_name
.row
  .col-md-8.col-sm-6
    %h1
      = @county.display_name
    %ul
      %li
        %strong State:
        = link_to @county.state.decorate.display_name, @county.state
      - if @capitals.length > 0
        %li
          %strong
            = "#{@county.county_type} #{'Seat'.pluralize(@capitals.length)}:"
          - @capitals.each_with_index do |city, index|
            = (link_to(city.decorate.display_name, city) + (index < (@capitals.length - 1) ? ', ' : '')).html_safe
      = render partial: '/shared/population', locals: {obj: @county}
      = render partial: '/shared/area', locals: {obj: @county}
      %li
        %strong Cities:
        = link_to("#{number_with_delimiter(@county.cities.count)} Cities", county_cities_path(county: @county))
    = render partial: '/shared/web_links', locals: {obj: @county}
  .col-md-4.col-sm-6.hidden-xs
    #map_div{ 'data-state' => @county.state.abbreviation, 'data-county' => @county.name, 'data-center-lat' => @county.state.latitude, 'data-center-long' => @county.state.longitude, 'data-center-zoom' => @county.state.zoom }

.row
  .col-md-12
    %h2 Description:
    = @county.active_description.description rescue ''
