<%= form_for(@city) do |f| %>
  <% if @city.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@city.errors.count, "error") %> prohibited this city from being saved:</h2>

      <ul>
      <% @city.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :county %><br>
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="field">
    <%= f.label :gnis %><br>
    <%= f.text_field :gnis %>
  </div>
  <div class="field">
    <%= f.label :fips %><br>
    <%= f.text_field :fips %>
  </div>
  <div class="field">
    <%= f.label :msa %><br>
    <%= f.number_field :msa %>
  </div>
  <div class="field">
    <%= f.label :usa %><br>
    <%= f.number_field :usa %>
  </div>
  <div class="field">
    <%= f.label :cbsa %><br>
    <%= f.number_field :cbsa %>
  </div>
  <div class="field">
    <%= f.label :csa %><br>
    <%= f.number_field :csa %>
  </div>
  <div class="field">
    <%= f.label :psa %><br>
    <%= f.number_field :psa %>
  </div>
  <div class="field">
    <%= f.label :dma %><br>
    <%= f.number_field :dma %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
