<h1>Listing cities</h1>

<table>
  <thead>
    <tr>
      <th>Belongs to</th>
      <th>Belongs to</th>
      <th>Name</th>
      <th>Latitude</th>
      <th>Longtitude</th>
      <th>Gnis</th>
      <th>Fips</th>
      <th>Msa</th>
      <th>Usa</th>
      <th>Cbsa</th>
      <th>Csa</th>
      <th>Psa</th>
      <th>Dma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.belongs_to %></td>
        <td><%= city.belongs_to %></td>
        <td><%= city.name %></td>
        <td><%= city.latitude %></td>
        <td><%= city.longtitude %></td>
        <td><%= city.gnis %></td>
        <td><%= city.fips %></td>
        <td><%= city.msa %></td>
        <td><%= city.usa %></td>
        <td><%= city.cbsa %></td>
        <td><%= city.csa %></td>
        <td><%= city.psa %></td>
        <td><%= city.dma %></td>
        <td><%= link_to 'Show', city %></td>
        <td><%= link_to 'Edit', edit_city_path(city) %></td>
        <td><%= link_to 'Destroy', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path %>
