<p id="notice"><%= notice %></p>

<p>
  <strong>State:</strong>
  <%= @city.state.name %>
</p>

<p>
  <strong>County:</strong>
  <%= @city.county.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @city.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @city.longitude %>
</p>

<p>
  <strong>Gnis:</strong>
  <%= @city.gnis %>
</p>

<p>
  <strong>Fips:</strong>
  <%= @city.fips %>
</p>

<p>
  <strong>Msa:</strong>
  <%= @city.msa %>
</p>

<p>
  <strong>Usa:</strong>
  <%= @city.usa %>
</p>

<p>
  <strong>Cbsa:</strong>
  <%= @city.cbsa %>
</p>

<p>
  <strong>Csa:</strong>
  <%= @city.csa %>
</p>

<p>
  <strong>Psa:</strong>
  <%= @city.psa %>
</p>

<p>
  <strong>Dma:</strong>
  <%= @city.dma %>
</p>

<p>
  <strong>Description:</strong>
  <%= @city.active_description.description rescue ''%>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
